/***********************
        RESET
**********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Dosis', sans-serif;
    
}

/********* CUSTOM CLASS ***********/
.bg-black {
    background-color: #0c0c0c;
}

.navbar-brand img {
    position: absolute;
    height: 5rem;
    width: 5rem;
    top: 0;
    left: 4rem;
    z-index: 10000;
}

.custom-nav-items li { 
    margin: 0 0 0 5px;
}

.dropdown-text {
    color: rgba(255, 255, 255, 0.5);
    
}

i.fas.fa-plus {
    font-size: 0.5rem;
}


.dropdown-text:hover {
       color: rgba(255, 255, 255, 0.9);
}

.dropdown-text:focus {
    outline: 0;
    box-shadow: none;
}


.dropdown-text{
    padding-right: 0;
}

.custom-checkbox {
    padding-left: 0;
}

.dropdown-toggle::after {
    border-top: 0;
}

.dropup .dropdown-toggle::after {
    
    border-top: 0;
    border-bottom: 0;
}

.dropup button {
    padding-left: 0;
}
.custom-menu a {
    color: rgba(255, 255, 255, 0.7);
    text-align: right;
}

div.dropdown-menu a:hover {
    background: none;
    color: rgba(255, 255, 255, 0.9);
}

div.dropdown-menu.show {
    background-color: rgba(0, 0, 0, 0.9) ;
    width: 14rem;
    padding: 1rem;
}

a.dropdown-item {
    padding: 0;
    margin-bottom: 1rem;
}

div.dropdown-divider {
    background: transparent;
    border-top: 1px solid #bfbfbf;
}

.btn-outline-secondary:hover {
    color: white;
    background: none;
    border: 1px solid #fff;
}

div.preferences-content {
    color: rgba(255, 255, 255, 0.7);
}



.form-check-label i {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
} 

div.page-search {
    position: relative;
}

.page-search-field {
    position: absolute;
    right: 25px;
    top: -7px;
    font-size: 1rem;
    padding: 5px;
    -webkit-appearance: textfield;
    font-weight: 300;
    width: 1010px;
    display: none;
}


#searchbox:checked~.page-search-field, #searchbox:checked~.page-search-field-text {
    display: block;
}

.page-search-field-text {
    position: absolute;
    right: 40px;
    top: -7px;
    width: 100px;
    line-height: 30px;
    font-size: 1rem;
    padding: 5px;
    display: none;
    background: transparent;
    height: 30px;
}

.extended-row {
    padding: 1.2rem 4rem 0 3.3rem;
}
ul.extended-nav-items {
    text-align: left;
    
}

ul.extended-nav-items li {
   font-size: 0.95rem;
   font-weight: 300;
   
}

ul.extended-nav-items li a {
    padding: 0 !important;
    
}

img.extended-menu-images {
    height: 3rem;
    width: 3rem;
}

img.extended-menu-image-ar {
     width: 5rem;
     height: 3rem;
}



.dropdown-menu.extended-dropdown-menu.show {
    background-color: rgba(0, 0, 0, 0.9) ;
    position: absolute;
    width: 100vw;
    left: -74.60rem;
    top: 44px;
    
}

p.article-headline {
    width: 30%;
    position: absolute;
    top: 22.5rem;
    padding: 0.6rem;
    font-size: 0.9rem;
    color: #fff;
}

h5.article-heading {
    padding-top: 0.5rem;
}

h5.article-heading a {
    color: #000;
    font-weight: bold;
    text-decoration:none;
    
}

h5.article-heading a:hover {
    color: rgba(0, 0, 0, 0.5);
}

hr.article-hr {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0.2rem 0 0.2rem 0;
}

p.more-articles a {
     color: rgba(0, 0, 0, 0.9);
     text-decoration: none;
}

p.more-articles a:hover {
    color: #000;
    font-weight: bold;
}

div.spotlight-article-content{
    margin-bottom: 9rem;
}

p.spotlight-article-content-info {
    background-color: rgb(197, 197, 197);
    padding: 1rem;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 8rem;
    left: 1.7rem;
    line-height: 1.2;
}


p.spotlight-article-content-info-2 {
    background-color: rgb(197, 197, 197);
    padding: 1rem;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 26rem;
    left: 1.7rem;
    line-height: 1.2;
}


a.spotlight-article-link {
    color: #000;
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: none;
}

a.spotlight-article-link:hover {
    color: rgba(0, 0, 0, 0.5);
}



.custom-card {
    border: none;
}

.custom-card-header {
    padding: 0.3rem;
    margin: 0;
}

.custom-card-body {
    padding: 0;
    
}

p.top-story {
    margin-bottom: 0;
}

.custom-card-body a {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
    text-decoration: none;
}

.custom-card-body a:hover {
    color: #000;
    font-weight: bold;
}

h5.featured-article-heading {
           background-color: rgb(197, 197, 197);
           padding: 1rem;
           margin-bottom: 0;
}

h5.featured-article-heading a {
    font-size: 1.5rem;
    font-weight: 500;
}

h5.featured-middle-heading {
     padding: 0.4rem 0.8rem 0.4rem 0.4rem;
}

h5.featured-middle-heading a {
          font-size: 1.5rem;
          font-weight: 300;
}


h5.more-news-heading {
     padding: 0.3rem 0 0.3rem 0.3rem;
}

h5.more-news-heading a{
     font-size: 1.1rem;
     
}

h5.more-news-front-heading {
    background-color: rgba(197, 197, 197, 0.9);
    padding: 1rem;
    margin-bottom: 0;
    position: absolute;
    top: 10.8rem;
}

h5.more-news-front-heading a {
    font-size: 1.5rem;
    font-weight: 500;
}

h5.opinion-heading a {
    font-size: 1.3rem;
}

h5.opinion-middle-heading {
    padding: 0.3rem ;
}

h5.opinion-middle-heading a {
    font-size: 1.2rem;
}

hr.featured-hr {
       border: 4px solid rgb(197, 197, 197);
       padding: 1px;

}

#missed {
    background-color: #161616;
}
hr.missed-hr {
    border: 4px solid red;
    padding: 1px;
    border-left: 0;
    border-right: 0;
}



.featured-col-lg-2, .featured-col-lg-10 {
    padding-right: 0;
}

h5.featured-section-heading a{
    font-size: 1.4rem;
    font-weight: 600;
}

p.top-story a {
    font-weight: 400;
    font-size: 1rem;
}

h4.missed-heading {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: 22.9rem;
    padding: 1rem;
    width: 96.3%;
}

h4.sub-heading {
    background-color: #fff;
    display: inline-block;
    padding: 0.5rem;
    color: red;
    position: absolute;
    left: 1rem;
    top: 20.2rem;
}

h4.side-heading {
    padding: 0.5rem 0 0.5rem 0;
}
h4.side-heading a{
          color: rgba(197, 197, 197, 0.9);
          text-decoration: none;
}

h4.side-heading a:hover {
            color: #fff;
}
 
h4.missed-heading a {
    color: #fff;
    text-decoration: none;
}

h4.missed-heading a:hover {
    color: rgba(197, 197, 197, 0.9);
}
a.weather-info {
    color: #fff;
    text-decoration: none;
}

.padding {
    padding: 2rem 8.5rem 0 4rem;
}

ul.footer-nav-items li a {
    color: rgba(255, 255, 255, 0.5);
    padding: 0;
    line-height: 2;
} 

ul.footer-nav-items li a:hover {
    color: rgba(255, 255, 255, 0.9);
}

ul.footer-nav li:not(:last-child) {
    padding-right: 1rem;
}

ul.footer-nav li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

ul.footer-nav li a:hover {
    color: rgba(255, 255, 255, 0.9);
}

@media (min-width:250px) and (max-width:600px) {

    .padding {
        padding: 1rem;
    }

    div.custom-menu {
        height: 310px;
        margin-bottom: 1rem;
    }

    button#dropdownMenuButton, button#dropdownMenuButton2 {
        padding-left: 0;
    }

    
    
    div.form-check.custom-checkbox {
        height: 2.5rem;
    }

    div.extended-row {
        padding: 0;
    }

    div.extended-bottom-row {
        padding-left: 0 !important;
    }

    div.extended-row > .col-lg-2 {
        padding-left: 0;
    } 
    
    div.dropdown-menu.extended-dropdown-menu.show {
        width: 100%;
        height: 100%;
        position: static;
        
        background-color: #0c0c0c;
    }

    img.extended-menu-image-ar {
        width: 3.5rem;
    }

    button.extended-button {
        float: none !;
     }


    

    .navbar-brand img {
        position: absolute;
        height: 3.5rem;
        width: 4rem;
        top: 0;
        left: 1.5rem;
        
    }

    h4.showcase-heading {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    p.article-headline {
        position: absolute;
        top: 15.9rem;
    }


    p.spotlight-article-content-info, p.spotlight-article-content-info-2, h5.more-news-front-heading {
        position: static;
        width: 100%;
        text-align: left;
    }

    div.spotlight-article-content {
        margin-bottom: 1rem;
        
    }

    h5.featured-middle-heading, h5.more-news-heading, h5.article-heading, h5.opinion-heading, h5.opinion-middle-heading, h4.missed-heading, h4.side-heading {
        background-color: rgb(197, 197, 197);
        padding: 1rem;
        
    }

    h5.featured-middle-heading a, h5.more-news-heading a, h5.article-heading a, h5.opinion-heading a, h5.opinion-heading a  {
        font-weight: 500;
    }

    .top-rated-row, .opinion-row {
        margin-top: 1rem;
    }

    hr.featured-hr {
        margin-right: 1rem;
    }

    h4.sub-heading {
        position: absolute;
        top: 13.1rem;
        z-index: 10000;
    }

    h4.missed-heading {
        position: static;
        width: 100%;
        color: #000;
    }

    h4.missed-heading a, h4.side-heading a{
        color: rgba(0, 0, 0, 0.9);
    }

    h4.missed-heading a:hover, h4.side-heading a:hover {
        color: #000;
        font-weight: bold;
    }
    .weather-row {
        margin-bottom: 1rem;
    }

    p.copyright {
        font-size: 0.9rem ;
    }
    
    ul.footer-nav li {
        padding-right: 0;

    }
    
    ul.footer-nav {
          display: block;
    }

    ul.footer-nav li a {
        font-size: 0.8rem;
    }

    .page-search-field {
        position: static;
        font-size: 1rem;
        padding: 5px;
        -webkit-appearance: textfield;
        font-weight: 300;
        width: 100%;
        display: block;
    }

    .page-search-field-text {
        display: block;
        position: absolute;
        right: -20px;
        top: 1px;
        cursor: pointer;
    }

     label > i.fas.fa-search  {
           display: none;
    }
      
}

@media (min-width: 601px) and (max-width: 990px) {
    .navbar-brand img {
        position: absolute;
        height: 3.5rem;
        width: 4rem;
        top: 0;
        left: 3.1rem;     
    }

    .padding {
        padding: 2rem;
    }

    div.custom-menu {
        height: 320px;
        margin-bottom: 1rem;
    }
    
    .nav-container {
        margin: 0 1rem 0 1.7rem;
        
    }

    .custom-nav-items {
        margin-top: 1rem;
    }

    .custom-nav-items li a {
        padding: 0.3rem;
        
    }

    button#dropdownMenuButton, button#dropdownMenuButton2 {
        padding-left: 0.25rem;
    }
    
    p.preferences-div {
        display: block;
        
    }
    
    div.form-check.custom-checkbox {
        height: 2.5rem;
    }

    div.extended-row {
        padding: 0;
    }

    div.extended-bottom-row {
        padding-left: 0 !important;
    }

    div.extended-row > .col-lg-2 {
        padding-left: 0;
    } 
    
    div.dropdown-menu.extended-dropdown-menu.show {
        width: 100%;
        height: 100%;
        position: static;
        
        background-color: #0c0c0c;
    }

    img.extended-menu-image-ar {
        width: 3.5rem;
        
    }

    img.extended-menu-images, img.extended-menu-image-ar {
        margin-bottom: 1rem;
    }

    button.extended-button {
        float: none;
     }

    h4.showcase-heading {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    p.article-headline {
        position: absolute;
        top: 13.25rem;
    }


    p.spotlight-article-content-info, p.spotlight-article-content-info-2, h5.more-news-front-heading {
        position: static;
        width: 100%;
        text-align: left;
    }

    div.spotlight-article-content {
        margin-bottom: 1rem;
        
    }

    h5.featured-middle-heading, h5.more-news-heading, h5.article-heading, h5.opinion-heading, h5.opinion-middle-heading, h4.missed-heading, h4.side-heading {
        background-color: rgb(197, 197, 197);
        padding: 1rem;
        
    }

    h5.featured-middle-heading a, h5.more-news-heading a, h5.article-heading a, h5.opinion-heading a, h5.opinion-heading a  {
        font-weight: 500;
    }

    .top-rated-row, .opinion-row {
        margin-top: 1rem;
    }

    hr.featured-hr {
        margin-right: 1rem;
    }

    h4.sub-heading {
        position: absolute;
        top: 25.6rem;
        z-index: 10000;
    }

    h4.missed-heading {
        position: static;
        width: 100%;
        color: #000;
    }

    h4.missed-heading a, h4.side-heading a{
        color: rgba(0, 0, 0, 0.9);
    }

    h4.missed-heading a:hover, h4.side-heading a:hover {
        color: #000;
        font-weight: bold;
    }
    .weather-row {
        margin-bottom: 1rem;
    }

    p.copyright {
        font-size: 0.9rem ;
    }
    
    ul.footer-nav li {
        padding-right: 0.5rem !important;
        

    }
    ul.footer-nav li a {
        font-size: 0.8rem;
    }

    .page-search-field {
        position: static;
        font-size: 1rem;
        padding: 5px;
        margin-left: 5px;
        -webkit-appearance: textfield;
        font-weight: 300;
        width: 100%;
        display: block;
    }

    .page-search-field-text {
        display: block;
        position: absolute;
        right: -20px;
        top: 1px;
        cursor: pointer;
    }

     label > i.fas.fa-search  {
           display: none;
    }
}

@media (min-width: 992px) and (max-width:1366px){
    div.preferences-div {
        display: inline;
    }
}